{% extends 'base.html' %}

{% block content %}
<h2>About VAANI</h2>
<p>VAANI is a groundbreaking platform that aims to bridge the communication gap for individuals with disabilities such as deafness or blindness. By harnessing the power of artificial intelligence (AI) and machine learning (ML) technologies, our platform enables seamless communication and information access, fostering inclusivity and empowerment for these communities.</p>

<h3>Our Mission</h3>
<p>Our mission at VAANI is to create an inclusive digital world where everyone can communicate and access information without barriers. We strive to empower individuals with disabilities by providing them with innovative tools and solutions that enhance their daily lives.</p>

<h3>The Team</h3>
<ul>
    <li>
        <h4>Ashwin Kumar</h4>
        <p>Data Scientist</p>
    </li>
    <li>
        <h4>Atharv Amit Gangrade</h4>
        <p>Full Stack & Machine Learning Engineer</p>
    </li>
    <li>
        <h4>Sagar Chauddhary</h4>
        <p>Data Scientist</p>
    </li>
    <!-- Add more team members if needed -->
</ul>
{% endblock %}